main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
display: inline-flex;
height: 520px;
width: 580px;
flex-wrap: wrap;
background-color: black;
}

.flex-container > section > button{
    width: 140px;
    margin: auto;
    padding: 0px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    justify-content: stretch;
    align-content: space-between;

}

#display {
    background-color:black;
    color: white;
    width: 575px;
    text-align: right;
    margin: auto;
    padding: 1px;
    font-size: 24px;
}
#add, #subtract, #divide, #multiply {
    background-color: #F4C6DF;
    cursor: pointer;
}

#topPart, #middlePart, #mid-BottomPart, #bottomPart {
    margin: 4px;
}
#equals {
    background-color: #FF1493;
    color: white;
    padding-bottom: 3px;
    line-height: 75px;
    width: 575px;
    font-size: 24px;
}
#results {
    margin: 4px;
}
